Write a program to sum to complex number

In [1]:
a= 2.5 + 2.5j
b= 3.5 - 5.6j
c= a + b
print("Sum of complex number is ",c)

Sum of complex number is  (6-3.0999999999999996j)

Write a program to convert binary , hexadecimal and octal number to decimal number system

In [2]:
binary=0b00101010
octal=0o017273
hexa_decimal=0x83EA

print("binary to decimal number is :" , int(binary))
print("octal to decimal number is :" , int(octal))
print("hexa_decimal ot decimal number is :" , int(hexa_decimal))

binary to decimal number is : 42
octal to decimal number is : 7867
hexa_decimal ot decimal number is : 33770

Write a program to convert decimal number to octal , hexa_deciaml and binary number.

In [3]:
decimal_number=1235
print("decimal_number to binary number is : ",bin(decimal_number))
print("decimal_number to ocatal number is : ",oct(decimal_number))
print("decimal_number to hexa_decimal number is ", hex(decimal_number))

decimal_number to binary number is :  0b10011010011
decimal_number to ocatal number is :  0o2323
decimal_number to hexa_decimal number is  0x4d3

write a program to convert int to float and float to int

In [4]:
int_number=12
float_number= 12.5
print("integer to float number is : ", float(int_number))
print("float to integer number is : ", int(float_number))

integer to float number is :  12.0
float to integer number is :  12

Write a program to show end and sep argumnet

In [5]:
print("welcome" , end=' ')
print("to" , end=' ')
print("my" , end=' ')
print("game")

welcome to my game

In [10]:
var1 ,var2 , var3 ,var4 ,var5 = 102 , 104 , 105 , 109 , 110
print(var1 , var2 , var3 , var4, var5)
print(var1 , var2 , var3 , var4, var5 , sep=' *** ') 
print(var1 , var2 , var3 , var4, var5 , sep=' ___ ') 
print(var1 , var2 , var3 , var4, var5 , sep='__kunal__')

102 104 105 109 110
102 *** 104 *** 105 *** 109 *** 110
102 ___ 104 ___ 105 ___ 109 ___ 110
102__kunal__104__kunal__105__kunal__109__kunal__110

In [1]:
name=input("enter your name:")
print("hello" , name , "how are you")

hello  how are you

In [ ]:
name = input("enter your name: ")
print("hello", name, "how are you")